/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  background-size: cover;
  padding: 10px;
  box-shadow: 0px 4px 16px 0px #e4ebf3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #0b69ff;
  margin-bottom: 10px;
}
.description {
  font-family: 'Roboto';
  font-size: 30px;
  color: #333333;
  margin-bottom: 20px;
}
.button {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0b69ff;
  cursor: pointer;
  outline: none;
}
.count {
  font-family: 'Roboto';
  font-size: 45px;
  color: #0b69ff;
  margin-bottom: 10px;
  font-weight: bold;
}
